Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

Remove T4 template for AsyncOverloads
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/AsyncEnumerable.AsyncOverloads.tt
Due: azure-pipelines.ix.yml

Make attribute internal
  Ix.NET/Source/System.Linq.Async.SourceGenerator/AsyncOverloadsGenerator.cs
Due: azure-pipelines.ix.yml

Update Directory.build.targets
  Rx.NET/Source/Directory.build.targets
Due: azure-pipelines.rx.yml

Update global.json
  Rx.NET/Source/global.json
Due: azure-pipelines.rx.yml

Fix build errorr
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Update NuGet.Config
  Rx.NET/Integration/NuGet.Config
Due: none

Fix build of Rx.NET integration tests
  Rx.NET/Integration/LinuxTests/LinuxTests.csproj
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Fix CI build for integration tests.
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Limit target platforms for integration tests.
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
Due: none

Fix yet another incompatibility (because why not).
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.cs
Due: azure-pipelines.rx.yml

Add reference to System.Collections.Immutable NuGet package for down-level support
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.Ref.csproj
Due: azure-pipelines.ix.yml

Implement ToImmutableDictionaryAsync
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToImmutableDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/FunctionalHelpers.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToImmutableDictionary.cs
Due: azure-pipelines.ix.yml

Implement ToImmutableHashSetAsync
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToImmutableHashSet.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToImmutableHashSet.cs
Due: azure-pipelines.ix.yml

Implement ToImmutableArrayAsync
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToImmutableArray.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToImmutableArray.cs
Due: azure-pipelines.ix.yml

Implement ToImmutableSortedDictionaryAsync
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToImmutableSortedDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToImmutableSortedDictionary.cs
Due: azure-pipelines.ix.yml

Implement ToImmutableSortedSet
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToImmutableSortedSet.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToImmutableSortedSet.cs
Due: azure-pipelines.ix.yml

Implement ToImmutableListAsync
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToImmutableList.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToImmutableList.cs
Due: azure-pipelines.ix.yml

Create helper method for building collections
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToHashSet.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToImmutableHashSet.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToImmutableList.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToImmutableSortedSet.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToList.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Utilities.cs
Due: azure-pipelines.ix.yml

Clean up namespace for functional helpers
  Ix.NET/Source/System.Linq.Async/System/Linq/FunctionalHelpers.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToHashSet.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToImmutableDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToImmutableSortedDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/ToList.cs
Due: azure-pipelines.ix.yml

Move operators for immutable collections to System.Collections.Immutable namespace
  Ix.NET/Source/System.Linq.Async.Tests/System/Collections/Immutable/ToImmutableArray.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Collections/Immutable/ToImmutableDictionary.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Collections/Immutable/ToImmutableHashSet.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Collections/Immutable/ToImmutableList.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Collections/Immutable/ToImmutableSortedDictionary.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Collections/Immutable/ToImmutableSortedSet.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToImmutableDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableArray.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableHashSet.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableList.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableSortedDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableSortedSet.cs
Due: azure-pipelines.ix.yml

Update source generator to support different class and namespace names
  Ix.NET/Source/System.Linq.Async.SourceGenerator/AsyncOverloadsGenerator.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableDictionary.cs
  Ix.NET/Source/System.Linq.Async/System/Collections/Immutable/Operators/ToImmutableSortedDictionary.cs
Due: azure-pipelines.ix.yml

fix: OfType now accepts a collection of object?
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/OfType.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/OfType.cs
Due: azure-pipelines.ix.yml

Fix duplicate emission in Delay with immediate selector
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Delay.cs
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/Linq/Observable/DelayTest.cs
Due: azure-pipelines.rx.yml

Simplified private Either class wrappers by reducing reflection use
  Rx.NET/Source/tests/Tests.System.Reactive/Tests/PrivateTypesTest.cs
Due: azure-pipelines.rx.yml

exposing SingleAssignmentDisposableValue and making it ICancelable
  Rx.NET/Source/src/System.Reactive/Disposables/SingleAssignmentDisposableValue.cs
Due: azure-pipelines.rx.yml

added SingleAssignmentDisposableValue to ApiApprovalTests.Core.verified.cs
  Rx.NET/Source/tests/Tests.System.Reactive.ApiApprovals/Api/ApiApprovalTests.Core.verified.cs
Due: azure-pipelines.rx.yml

reduced work for the garbage collector
  Rx.NET/Source/src/System.Reactive/Internal/Sink.cs
Due: azure-pipelines.rx.yml

Remove unnecessary dependencies
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Update to 6.0 SDK and exclude min/max/minby/maxby from 6.0 refs
  Ix.NET/Source/ApiCompare/ApiCompare.csproj
  Ix.NET/Source/FasterLinq/FasterLinq.csproj
  Ix.NET/Source/Playground/Playground.csproj
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/MaxBy.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/MinBy.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Interactive.Tests/System/Linq/Operators/TakeLast.cs
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/MaxBy.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/MinBy.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/TakeLast.cs
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/refs/System.Interactive.Providers.Ref/System.Interactive.Providers.Ref.csproj
  Ix.NET/Source/refs/System.Interactive.Ref/System.Interactive.Ref.csproj
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.Ref.csproj
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Set version
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Remove support for .NET Core 2.1 and netstandard1.0. bump .net to 4.8
  Ix.NET/Source/Benchmarks.System.Interactive/Benchmarks.System.Interactive.csproj
  Ix.NET/Source/System.Interactive.Async.Providers.Tests/System.Interactive.Async.Providers.Tests.csproj
  Ix.NET/Source/System.Interactive.Async.Providers/System.Interactive.Async.Providers.csproj
  Ix.NET/Source/System.Interactive.Async.Tests/System.Interactive.Async.Tests.csproj
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Interactive.Providers/System.Interactive.Providers.csproj
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Interactive/System.Interactive.csproj
  Ix.NET/Source/System.Linq.Async.Queryable.Tests/System.Linq.Async.Queryable.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Queryable/System.Linq.Async.Queryable.csproj
  Ix.NET/Source/System.Linq.Async.SourceGenerator/System.Linq.Async.SourceGenerator.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/refs/System.Interactive.Providers.Ref/System.Interactive.Providers.Ref.csproj
  Ix.NET/Source/refs/System.Interactive.Ref/System.Interactive.Ref.csproj
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.Ref.csproj
  Ix.NET/Source/version.json
Due: azure-pipelines.ix.yml

Remove old ifdefs from old platforms
  Ix.NET/Source/Benchmarks.System.Interactive/MinMaxBenchmark.cs
  Ix.NET/Source/Benchmarks.System.Interactive/Program.cs
  Ix.NET/Source/Directory.Build.targets
  Ix.NET/Source/System.Interactive.Providers/Reflection.cs
  Ix.NET/Source/System.Interactive.Providers/System/Linq/QueryableEx.Generated.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Zip.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Zip.cs
Due: azure-pipelines.ix.yml

Remove old runtimes from ci
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Fix impls for ref assms
  Ix.NET/Source/System.Interactive.Providers/System/Linq/QueryableEx.Generated.cs
Due: azure-pipelines.ix.yml

Fix defines to be OR_GREATER
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/MaxBy.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/MinBy.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/SkipLast.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/TakeLast.cs
Due: azure-pipelines.ix.yml

Update SG to latest roslyn
  Ix.NET/Source/System.Linq.Async.SourceGenerator/System.Linq.Async.SourceGenerator.csproj
Due: azure-pipelines.ix.yml

Update Merge.cs
  Ix.NET/Source/System.Interactive.Async/System/Linq/Operators/Merge.cs
Due: azure-pipelines.ix.yml

Add MinByWithTies and MaxByWithTies to bring back a MinBy/MaxBy that returns a list.
  Ix.NET/Source/System.Interactive.Providers/System/Linq/QueryableEx.Generated.cs
  Ix.NET/Source/System.Interactive.Tests/System.Interactive.Tests.csproj
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Max.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/MaxByWithTies.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/Min.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/MinBy.cs
  Ix.NET/Source/System.Interactive/System/Linq/Operators/MinByWithTies.cs
Due: azure-pipelines.ix.yml
