Repository dotnet/reactive: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.ix.yml, azure-pipelines.rx.yml

Path conditions:
  azure-pipelines.ix.yml: any of: Ix.NET/Source, .editorconfig, azure-pipelines.ix.yml
  azure-pipelines.rx.yml: any of: Rx.NET/Source, .editorconfig, azure-pipelines.rx.yml

Add tests for ToEnumerable.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/ToEnumerable.cs
Due: azure-pipelines.ix.yml

Clean up SkipWhile and TakeWhile test code.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/SkipWhile.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/TakeWhile.cs
Due: azure-pipelines.ix.yml

Improve SkipWhile and TakeWhile code coverage.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/SkipWhile.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/TakeWhile.cs
Due: azure-pipelines.ix.yml

Use Pipe for DistinctUntilChanged and Throttle
  Rx.NET/Source/src/System.Reactive/Linq/Observable/DistinctUntilChanged.cs
  Rx.NET/Source/src/System.Reactive/Linq/Observable/Throttle.cs
Due: azure-pipelines.rx.yml

Update to latest extras
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/global.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Update sdk
  Rx.NET/Source/global.json
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

generate binlog
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

add workaround
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Use latest SDK to build
  Rx.NET/Source/Directory.build.targets
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Remove binlog
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Prevent downgrade
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

run tests independently due to DotNetCoreInstaller stepping on 2.1/3.0 at the same time
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Specify TFs
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Workaround https://github.com/dotnet/sdk/issues/2976
  Rx.NET/Source/Directory.build.targets
Due: azure-pipelines.rx.yml

Add WindowsDesktop integration tests
  Rx.NET/Integration/WindowsDesktopTests/WindowsDesktopTests.csproj
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Fix invoke of tool
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Update displayname
  azure-pipelines.rx.yml
Due: azure-pipelines.rx.yml

Fix targets bug
  Rx.NET/Integration/IntegrationTests.sln
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
  Rx.NET/Source/src/System.Reactive/build/System.Reactive.targets
Due: azure-pipelines.rx.yml

Ensure dll is in package
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Fix packaging
  Rx.NET/Source/src/System.Reactive/System.Reactive.csproj
Due: azure-pipelines.rx.yml

Move Product to targets so AssemblyName is set
  Rx.NET/Source/Directory.build.props
  Rx.NET/Source/Directory.build.targets
Due: azure-pipelines.rx.yml

Use package license expression and fix icon
  Rx.NET/Source/Directory.build.props
Due: azure-pipelines.rx.yml

Fix itemgroup conditions
  Rx.NET/Source/Directory.build.targets
Due: azure-pipelines.rx.yml

Clean up GroupBy tests.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/GroupBy.cs
Due: azure-pipelines.ix.yml

Sorting GroupBy tests.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/GroupBy.cs
Due: azure-pipelines.ix.yml

use 2019 pool
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Workaround https://github.com/dotnet/sdk/issues/2976
  Ix.NET/Source/Directory.build.targets
Due: azure-pipelines.ix.yml

remove outdated comment
  Ix.NET/Source/Directory.build.targets
Due: azure-pipelines.ix.yml

Improve tests for GroupBy.
  Ix.NET/Source/System.Linq.Async.Tests/System.Linq.Async.Tests.csproj
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/GroupBy.Generated.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/GroupBy.Generated.tt
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/GroupBy.cs
Due: azure-pipelines.ix.yml

Add comment to SelectMany.
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/SelectMany.cs
Due: azure-pipelines.ix.yml

Fix typo
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Update docs
  AUTHORS.txt
  README.md
Due: none

Add Zip with ValueTuple return type.
  Ix.NET/Source/Directory.build.targets
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.cs
  Ix.NET/Source/System.Linq.Async/System/Linq/Operators/Zip.cs
Due: azure-pipelines.ix.yml

Switch to use .NET Standard 2.1 instead of netcoreapp3.0 for broader support
  Ix.NET/Source/System.Interactive.Async.Providers/System.Interactive.Async.Providers.csproj
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Linq.Async.Queryable/System.Linq.Async.Queryable.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/refs/Directory.build.props
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.Ref.csproj
  azure-pipelines.ix.yml
Due: azure-pipelines.ix.yml

Add back .NET Core 3 target until .NET Core 3 runtime has the latest netstandard dll in it.
  Ix.NET/Source/System.Interactive.Async.Providers/System.Interactive.Async.Providers.csproj
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
  Ix.NET/Source/System.Linq.Async.Queryable/System.Linq.Async.Queryable.csproj
  Ix.NET/Source/System.Linq.Async/System.Linq.Async.csproj
  Ix.NET/Source/refs/System.Linq.Async.Ref/System.Linq.Async.Ref.csproj
Due: azure-pipelines.ix.yml

Get rid of junk in project files
  Ix.NET/Source/System.Interactive.Async.Providers/System.Interactive.Async.Providers.csproj
  Ix.NET/Source/System.Interactive.Async/System.Interactive.Async.csproj
Due: azure-pipelines.ix.yml

Use cached refletion info for AsyncQueryable[Ex].
  Ix.NET/Source/AsyncQueryableGenerator.t4
  Ix.NET/Source/Directory.build.targets
  Ix.NET/Source/Ix.Async.NET.sln
  Ix.NET/Source/System.Interactive.Async.Providers/System/Linq/AsyncQueryableEx.Generated.cs
  Ix.NET/Source/System.Interactive.Async.Providers/System/Linq/AsyncQueryableEx.Generated.tt
  Ix.NET/Source/System.Interactive.Async.Providers/System/Linq/AsyncQueryableEx.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.Generated.cs
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.Generated.tt
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.cs
Due: azure-pipelines.ix.yml

Fix AsyncQueryable.Zip.
  Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/AsyncQueryable.cs
Due: azure-pipelines.ix.yml

Clean up tests for Average.
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Average.Generated.cs
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Average.Generated.tt
  Ix.NET/Source/System.Linq.Async.Tests/System/Linq/Operators/Average.cs
Due: azure-pipelines.ix.yml
